<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/opt/findutils/libexec/gnubin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:</string>
      <key>HOME</key>
      <string>/Users/vmware</string>
    </dict>
    <key>Label</key>
    <string>com.vmware.ConcourseWorker</string>
    <key>Program</key>
    <string>/Users/vmware/workspace/cli-ci/ci/bin/concourse_worker</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LaunchOnlyOnce</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/concourse-worker.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/concourse-worker.stderr.log</string>
    <key>InitGroups</key>
    <true/>
  </dict>
</plist>
